<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="display.css" />
  <title>Blog</title>
</head>
<body>
  <h1>Title</h1>
  <p><%= writen.title %></p>
  <h1>Description</h1>
  <p><%= writen.description %></p>
  <h1>Markdown</h1>
  <p><%= writen.markdown %></p>
  <h2>Time</h2>
  <p><%= writen.time %></p>
  <a href="/all">HOME</a>
</body>
</html>